@page
@model Tylers_Food_Mart_WebApp.Pages.CategoryProductsModel
@{
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h1>@Model._Category.CategoryName</h1>
    </div>
    <div class="row justify-content-center my-5" style="">
        @foreach (var item in Model._Products)
        {
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="img/@(Model.imageName)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <p>@item.StandardCost?.ToString("C")</p>
                    <a class="btn btn-primary" asp-page="/Product" asp-route-id="@(item.ProductID)">Go somewhere</a>
                </div>
            </div>
        }
    </div>     
</div>

